<!-- Bot達o WhatsApp -->
<div class="whatsapp-icon" title="Entre em contato pelo WhatsApp">
    <a href="https://api.whatsapp.com/send?phone=5541992292928&text=Ol%C3%A1%2C%20visitei%20o%20site%20e%20gostaria%20de%20solicitar%20um%20or%C3%A7amento.%20Pode%20me%20ajudar%3F" target="_blank">
        <i class="fab fa-whatsapp"></i>
    </a>
</div>

<!-- Bot達o "Voltar ao Topo" -->
<div class="back-to-top" title="Voltar ao Topo">
    <a href="#top">
        <i class="fas fa-chevron-up"></i>
    </a>
</div>

<script src="/scripts/buttons.js"></script>
<script src="/scripts/form.js"></script>
<script type="text/javascript" src="https://cdn.emailjs.com/dist/email.min.js"></script>
<script type="text/javascript">
    (function(){
        emailjs.init("service_j8lf9xk");
    })();
</script>

<script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "LocalBusiness",
      "name": "AZ Rolamentos",
      "description": "Especializados em rolamentos automotivos e industriais em Curitiba.",
      "address": {
        "@type": "PostalAddress",
        "streetAddress": "R. Jo達o Negr達o, 1701. Loja 3",
        "addressLocality": "Curitiba",
        "addressRegion": "PR",
        "postalCode": "80045-280",
        "addressCountry": "BR"
      },
      "telephone": "+55 41 3077-2929",
      "openingHours": "Mo-Fr 08:00-18:00",
      "sameAs": [
        "https://www.instagram.com/azrolamentos",
        "https://www.facebook.com/azrolamentos"
      ]
    }
</script>
