<header>
    <nav>
      <span class="logo">AZ Rolamentos</span>
      <ul class="menu">
        <li><a href="/">Início</a></li>
        <li><a href="#contact-info">Sobre</a></li>
        <li><a href="/produtos">Produtos</a></li>
        <li><a href="#localizacao">Localização</a></li>
      </ul>
      <!-- Nova barra de pesquisa -->
      <form class="search-bar" action="/produtos" method="get">
        <input type="text" name="q" placeholder="Buscar produtos...">
        <button type="submit"><i class="fas fa-search"></i></button>
      </form>
    </nav>
  </header>
  