<header>
    <nav>
        <span class="logo">AZ Rolamentos</span>
        <ul class="menu">
            <li><a href="/">Início</a></li>
            <li><a href="#contact-info">Sobre</a></li>
            <li><a href="produtos">Produtos</a></li>
            <li><a href="#localizacao">Localização</a></li>
        </ul>
    </nav>
</header>
